.major-evts-box .special-heading{
	color: #e7c900;
}
.mjr-evnt-wpr .txt-type1{
	font-size:20px;
	color:#e7c900;	
}
.mjr-evnt-wpr .txt-type1 .far{
	font-size: 19px;
vertical-align: top;
line-height: 28px;
margin-right: 8px;
}
.mjr-evnt-wpr .txt-type2{
    color:#e7c900;
    font-weight: 500;
}
.mjr-evnt-wpr .txt-type4{
	color:#ffffff;
    margin-bottom:10px;
    
}
.mjr-evnt-wpr .txt-type3 a{
	background-color: #e7c900;
	color: #1f232b;
	border-radius: 5em;
	padding: 7px 15px;
	font-size: 12px;
    display: inline-block;
    cursor: pointer;
    transition: all .5s;
}
.mjr-evnt-wpr .txt-type3 a:hover{
    background-color: #ffffff;
}
.mjr-evnt-wpr .arrow-nav {
	position: relative;
	padding-right: 30px;
}
.mjr-evnt-wpr .arrow-nav:after{
	content:"";
	width:15px;
	height:15px;
	border:2px dotted #e7c900;
	position:absolute;
	top: 7px;
right: 20px;
border-bottom: 0;
border-left: 0;
transform: rotate(45deg);
}
a.lgn-lnk{
	text-decoration: underline;
}
a.lgn-lnk:hover{
	text-decoration: underline;
}
.btn.login-btn{
    border: 2px solid #f3e480;
    border-radius: 40px;
    background-color: #e7c900;
    color: #1f232b;;
}
.btn.login-btn:hover{
    background-color: #ffffff;
}
.brd-btm{
    border-bottom: 2px solid #f3e480;;
}
.btn.signin-btn {
    background-color: #f3e480;
    color: #1f232b !important;    
    padding: 15px 35px;
    border: 2px solid #ffffff;
    border-radius: 50px;
}
.btn.signin-btn:hover{
    background-color: #e7c900;
    color: #1f232b !important;
    border: 2px solid #1f232b;
}
.upcoming-events-box{
    padding-top: 60px;
}
.upcoming-events-box .special-heading {
    margin-bottom: 40px;
}
.event-item-box{
    position: relative;
}
.event-detail-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    padding: 15px 30px;
}
.event-date{
    position: absolute;
    top: 0;
    left: 30px;
    background: rgba(0,0,0,0.8) ;
    padding: 8px;
    text-align: center;
}
.date-txt1{
    color: #ffffff;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 7px;
}
.date-txt2{
    color: #ffffff;
    font-size: 10px;
    margin-bottom: 7px;
    line-height: 1;
text-transform: uppercase;
}
.event-content{
    position: absolute;
    bottom: 15px;
    left: 30px;
    width: 85%;
}
.event-discription{
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 4px;
    text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000;
    -moz-text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000;
    -o-text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000;
    -webkit-text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000;
}
.event-place{
    font-size: 14px;
    color: #e7c900;
    font-weight: 500;
    text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000;
    -moz-text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000;
    -o-text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000;
    -webkit-text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000;
}
a.event-link{
    position: absolute;
top: 15px;
right: 30px;
padding: 5px 15px;
border-radius: 30px;
background: rgba(255, 227, 50, 0.8);
border: 1px solid #ffffff;
color: #ffffff;
font-size: 12px;
text-transform: uppercase;
}
a.event-link:hover{
    background-color: black;
    color: blanchedalmond;
}
.hover-1{
    cursor: pointer;
}
.hover-1 img{
    opacity: .5;
    transition: .3s;
}
.hover-1:hover img{
    opacity: 1;
}

.hover-2{overflow: hidden;}
.hover-2 .event-detail-layer{
    opacity: .3; 
    transition: .3s;
    width: 0;
    height: 0;
    left:0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin:0 auto ;
    visibility: hidden;
}
.hover-2:hover .event-detail-layer{
    opacity: 1;
    width: 100%;
    height: 100%;
    visibility: visible;
}

.hover-3{overflow: hidden;}
.hover-3:after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 15px;
    transition: 0.3s;
    max-width: 370px;
}
.hover-3 .event-detail-layer{
    visibility: hidden;
    transition: 0.3s;
    top: -30px;
}

.hover-3:hover .event-detail-layer {
    visibility: visible;
    top: 0px;
}
.hover-3:hover:after {
    top: 100%; 
}

.hover-4 .event-detail-layer{
    opacity: .3;
    transition: .3s;
}
.hover-4:hover .event-detail-layer{
    opacity: 1;
}
.notificationNumber {
    height: 16px;
    width: 16px;
    background-color: #d63031;
    border-radius: 20px;
    color: white;
    text-align: center;
    position: absolute;
    top: -6px;
    left: 7px;
    padding: 3px;
    border-style: solid;
    border-width: 2px;
    font-size: 6px;
}

.notificationLink {
    background-color: #3c3737;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
}

.readDone {
    background-color: #031221 !important;
}

.pwd_show_eye {
    float: right;
    top: -31px;
    position: relative;
    left: -14px;
}


/* New Styling for Akhilmon Raj *****************************************************************************/

/* Common */
.login-wrap input:not(.button){
    border-radius: 5px !important;
    background-color: #fff !important;
    border: 1px solid #bfc9d4 !important;
}

.register-wrap input:not(.login-btn){
    border-radius: 5px !important;
    background-color: #fff !important;
    border: 1px solid #bfc9d4 !important;
}


/* Login */

.login-wrap{
    height: 100vh;
}

.login-wrap .container{
    height: 100%;
    padding: 0;
    position: relative;
}

.login-wrap .container .entry-content{
    position: absolute;
    width: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-wrap .container .entry-content .logo{
    padding: 10px 0;
}

.login-wrap .container .entry-content .logo img{
    margin: 0 auto 25px;
    width: 250px;
    height: 100%;
    max-height: none;
}

.login-wrap .container .entry-content .woocommerce{
    box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.09019607843137255), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    background: #fff;
    padding-top: 45px;
}

.login-wrap .container .entry-content form{
    width: 100%;
    padding: 0 55px 75px;
    background: transparent;
    box-shadow: none;
}

.login-wrap .container .entry-content .woocommerce .login-title{
    margin-bottom: 45px;
    font-size: 1.75rem;
}

.login-wrap .container .entry-content form .login-input-icon{
    float: left;
    top: -33px;
    position: relative;
    left: 13px;
}

.login-wrap .container .entry-content form input:not(.button){
    padding-left: 45px;
}

/* Register */
.register-wrap{
    height: 100vh;
}

.register-wrap .container{
    padding: 0;
    height: 100%;
}

.register-form-wrap{
    box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.09019607843137255), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    background: #fff;
    padding-top: 45px;
    padding-bottom: 45px;
    position: relative;
    top: 50%;
}
.register-wrap .container .align-items-center{ 
    height: 100%;
}

.register-wrap .register-title{
    margin-bottom: 45px;
    font-size: 1.75rem;
}

.register-wrap .special-title h2.special-heading{
    color: #fff;
}

.register-wrap .special-title {
    position: relative;
    top: -170px;
}

.register-free-icon{
    position: absolute;
    top: -25px;
    left: -25px;
    width: 110px;
    transform: rotate(-32deg);
}

.register-wrap .register-input-icons{
    float: left;
    top: -33px;
    position: relative;
    left: 13px;
}

.register-wrap .register-form-wrap form  .register-form-input-group{
    width: 100%;
}

.register-wrap .register-form-wrap form  .register-form-input-group input{
    padding-left: 45px;
}

.register-wrap .register-form-wrap form  .register-form-input-group input::placeholder{
    color: #5b5f66;
}

/* Responsive Styling */
@media (max-width: 1199px){

}

@media (max-width: 1024px){
    
}

@media (max-width: 991px){
    .register-wrap .align-items-center{
        display: flex;
        flex-direction: column;
    }

    .register-wrap .align-items-center > .col-md-6.special-title{
            top: 0;
            margin-bottom: 25px;
    }
    .register-wrap .align-items-center > .col-md-6{
        width: 100%;
        max-width: 100%;
    }

    .register-wrap .align-items-center > .col-md-6 .register-form-wrap{
        width: 480px;
    }
}

@media (max-width: 767px){
    .login-wrap .container .entry-content{
        max-width: 85%;
    }

    .register-wrap .align-items-center > .col-md-6 .register-form-wrap{
        max-width: 85%;
    }

    .register-wrap .align-items-center > .col-md-6.special-title{
        text-align: center;
    }
}

@media (max-width: 614px){
    .register-wrap .align-items-center > .col-md-6:not(.special-title){
        display: flex;
        justify-content: center;
    }

    .register-wrap .align-items-center > .col-md-6:not(.special-title) .register-form-wrap .form-title{
        position: relative;
    }

    .register-wrap .align-items-center > .col-md-6:not(.special-title) .register-form-wrap .form-title .register-free-icon{
        left: 15px;
    }

    .registration-genter .col-sm-4{
        display: flex;
        margin-bottom: 10px !important;
    }
}

@media (max-width: 540px){
    .login-wrap .container .entry-content form p input.button{
        margin-bottom: 15px;
        width: 100%;
    }

    .login-wrap .container .entry-content form p a.btn{
        width: 100%;
    }

    .login-wrap .container .entry-content form p{
        margin-bottom: 10px;
    }

    .login-wrap .container .entry-content form{
        padding-bottom: 45px;
    }

    .register-wrap .register-form-wrap form input.login-btn{
        width: 100%;
    } 

    .register-wrap .register-form-wrap form a.btn{
        width: 100%;
        margin-bottom: 25px;
    } 

    .register-free-icon{
        position: relative;
        left: 0;    
    }
    .register-wrap .register-title{
        margin-top: 0;
    }
}

@media (max-width: 480px){



}

@media (max-width: 320px){
    
}

/* Media height */
@media (max-height: 920px){
    .register-wrap {
        height: unset;
        padding: 45px 0;
    }
}