.major-evts-box .special-heading{
	color: #e7c900;
}
.mjr-evnt-wpr .txt-type1{
	font-size:20px;
	color:#e7c900;	
}
.mjr-evnt-wpr .txt-type1 .far{
	font-size: 19px;
vertical-align: top;
line-height: 28px;
margin-right: 8px;
}
.mjr-evnt-wpr .txt-type2{
    color:#e7c900;
    font-weight: 500;
}
.mjr-evnt-wpr .txt-type4{
	color:#ffffff;
    margin-bottom:10px;
    
}
.mjr-evnt-wpr .txt-type3 a{
	background-color: #e7c900;
	color: #1f232b;
	border-radius: 5em;
	padding: 7px 15px;
	font-size: 12px;
    display: inline-block;
    cursor: pointer;
    transition: all .5s;
}
.mjr-evnt-wpr .txt-type3 a:hover{
    background-color: #ffffff;
}
.mjr-evnt-wpr .arrow-nav {
	position: relative;
	padding-right: 30px;
}
.mjr-evnt-wpr .arrow-nav:after{
	content:"";
	width:15px;
	height:15px;
	border:2px dotted #e7c900;
	position:absolute;
	top: 7px;
right: 20px;
border-bottom: 0;
border-left: 0;
transform: rotate(45deg);
}
a.lgn-lnk{
	text-decoration: underline;
}
a.lgn-lnk:hover{
	text-decoration: underline;
}
.btn.login-btn{
    border: 2px solid #f3e480;
    border-radius: 40px;
    background-color: #e7c900;
    color: #1f232b;;
}
.btn.login-btn:hover{
    background-color: #ffffff;
}
.brd-btm{
    border-bottom: 2px solid #f3e480;;
}
.btn.signin-btn {
    background-color: #f3e480;
    color: #1f232b !important;    
    padding: 15px 35px;
    border: 2px solid #ffffff;
    border-radius: 50px;
}
.btn.signin-btn:hover{
    background-color: #e7c900;
    color: #1f232b !important;
    border: 2px solid #1f232b;
}
.upcoming-events-box{
    padding-top: 60px;
}
.upcoming-events-box .special-heading {
    margin-bottom: 40px;
}
.event-item-box{
    position: relative;
}
.event-detail-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    padding: 15px 30px;
}
.event-date{
    position: absolute;
    top: 0;
    left: 30px;
    background: rgba(0,0,0,0.8) ;
    padding: 8px;
    text-align: center;
}
.date-txt1{
    color: #ffffff;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 7px;
}
.date-txt2{
    color: #ffffff;
    font-size: 10px;
    margin-bottom: 7px;
    line-height: 1;
text-transform: uppercase;
}
.event-content{
    position: absolute;
    bottom: 15px;
    left: 30px;
    width: 85%;
}
.event-discription{
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 4px;
    text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000;
    -moz-text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000;
    -o-text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000;
    -webkit-text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000;
}
.event-place{
    font-size: 14px;
    color: #e7c900;
    font-weight: 500;
    text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000;
    -moz-text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000;
    -o-text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000;
    -webkit-text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000;
}
a.event-link{
    position: absolute;
top: 15px;
right: 30px;
padding: 5px 15px;
border-radius: 30px;
background: rgba(255, 227, 50, 0.8);
border: 1px solid #ffffff;
color: #ffffff;
font-size: 12px;
text-transform: uppercase;
}
a.event-link:hover{
    background-color: black;
    color: blanchedalmond;
}
.hover-1{
    cursor: pointer;
}
.hover-1 img{
    opacity: .5;
    transition: .3s;
}
.hover-1:hover img{
    opacity: 1;
}

.hover-2{overflow: hidden;}
.hover-2 .event-detail-layer{
    opacity: .3; 
    transition: .3s;
    width: 0;
    height: 0;
    left:0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin:0 auto ;
    visibility: hidden;
}
.hover-2:hover .event-detail-layer{
    opacity: 1;
    width: 100%;
    height: 100%;
    visibility: visible;
}

.hover-3{overflow: hidden;}
.hover-3:after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 15px;
    transition: 0.3s;
    max-width: 370px;
}
.hover-3 .event-detail-layer{
    visibility: hidden;
    transition: 0.3s;
    top: -30px;
}

.hover-3:hover .event-detail-layer {
    visibility: visible;
    top: 0px;
}
.hover-3:hover:after {
    top: 100%; 
}

.hover-4 .event-detail-layer{
    opacity: .3;
    transition: .3s;
}
.hover-4:hover .event-detail-layer{
    opacity: 1;
}
.notificationNumber {
    height: 16px;
    width: 16px;
    background-color: #d63031;
    border-radius: 20px;
    color: white;
    text-align: center;
    position: absolute;
    top: -6px;
    left: 7px;
    padding: 3px;
    border-style: solid;
    border-width: 2px;
    font-size: 6px;
}

.notificationLink {
    background-color: #3c3737;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
}

.readDone {
    background-color: #031221 !important;
}

.pwd_show_eye {
    float: right;
    top: -31px;
    position: relative;
    left: -14px;
}


/* New Styling for Akhilmon Raj *****************************************************************************/

/* Common */
.login-wrap input:not(.button){
    border-radius: 5px !important;
    background-color: #fff !important;
    border: 1px solid #bfc9d4;
}

.register-wrap input:not(.login-btn){
    border-radius: 5px !important;
    background-color: #fff !important;
    border: 1px solid #bfc9d4;
}

.ls{
    background-color: #e9edf3;
}

.has-error{
    border: solid 1px red !important;
}

.has-error-content{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
    display: inline-block;
    text-align: left;
}

/* Login */

.login-wrap{
    height: 100vh;
}

.login-wrap .container{
    height: 100%;
    padding: 0;
    position: relative;
}

.login-wrap .container .entry-content{
    position: absolute;
    width: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-wrap .container .entry-content .logo{
    padding: 10px 0;
}

.login-wrap .container .entry-content .logo img{
    margin: 0 auto 25px;
    width: 285px;
    height: 100%;
    max-height: none;
}

.login-wrap .container .entry-content .woocommerce{
    box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.09019607843137255), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    background: #fff;
    padding-top: 45px;
}

.login-wrap .container .entry-content form{
    width: 100%;
    padding: 0 55px 75px;
    background: transparent;
    box-shadow: none;
}

.login-wrap .container .entry-content .woocommerce .login-title{
    margin-bottom: 45px;
    font-size: 1.75rem;
}

.login-wrap .container .entry-content form .login-input-icon{
    float: left;
    top: 35px;
    position: relative;
    left: 13px;
}

.login-wrap .container .entry-content form input:not(.button){
    padding-left: 45px;
}

/* Register */
.register-wrap{
    height: 100vh;
}

.register-wrap .container{
    padding: 0;
    height: 100%;
}

.register-form-wrap{
    box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.09019607843137255), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    background: #fff;
    padding-top: 45px;
    padding-bottom: 45px;
    position: relative;
    top: 50%;
}
.register-wrap .container .align-items-center{ 
    height: 100%;
}

.register-wrap .register-title{
    margin-bottom: 45px;
    font-size: 1.75rem;
}

.register-wrap .special-title .sub-title{
    font-size: 24px;
}

.register-wrap .special-title h2.special-heading{
    color: #fff;
    font-size: 48px;
}

.register-wrap .special-title {
    position: relative;
    top: -170px;
}

.register-free-icon{
    position: absolute;
    top: -25px;
    left: -25px;
    width: 110px;
    transform: rotate(-32deg);
}

.register-wrap .register-input-icons{
    float: left;
    top:35px;
    position: relative;
    left: 13px;
}

.register-wrap .register-form-wrap form  .register-form-input-group{
    width: 100%;
}

.register-wrap .register-form-wrap form  .register-form-input-group input{
    padding-left: 45px;
}

.register-wrap .register-form-wrap form  .register-form-input-group input::placeholder{
    color: #5b5f66;
}

.upcoming-chess-grid-list-wrap .owl-carousel .owl-item .item-content{
    /* box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1) !important; */
    box-shadow: 0 17px 11px -12px rgba(0, 0, 0, 0.09);
    background-color: #051422 !important;
    border-radius: 20px !important;
    width: 90%;
    margin: -105px auto 0;
    z-index: 9;
    position: relative;
    min-height: 375px;
    transition: all 0.3s ease;
}

.upcoming-chess-grid-list-wrap .owl-carousel .owl-item .item-content h6 a{
    color: #e7c900;
}
.upcoming-chess-grid-list-wrap .owl-carousel .owl-item .item-content p{
    color: #fff;
}



.upcoming-chess-grid-list-wrap .owl-carousel .owl-item:hover .item-content{
    transform: translateY(-25px);
}

.upcoming-chess-grid-list-wrap .owl-carousel .owl-item .item-content p{
    margin-bottom: 5px;
}

.upcoming-chess-grid-list-wrap .owl-carousel .owl-item .item-content .item-footer{
    flex-direction: column;
    margin-top: 15px;
}

.upcoming-chess-grid-list-wrap .owl-carousel .owl-item .item-content .item-footer span{
    color: #e7c900;
}

.upcoming-chess-grid-list-wrap .owl-carousel .owl-item .item-content .item-footer .btn-upcoming-readmore{
    border: solid 1px #e7c900;
    margin-top: 15px;
    /* background-color: #e7c900; */
    color: #fff;
}

.upcoming-chess-grid-list-wrap .owl-carousel .owl-item .item-content .item-footer .btn-upcoming-readmore:hover{
    background-color: #e7c900;
}
.upcoming-chess-grid-list-wrap .owl-carousel .owl-item .ls{
    background-color: transparent;
}

.upcoming-chess-grid-list-wrap .owl-carousel .owl-item .ls:hover{
    box-shadow: none;
    transform: translateY(0);
}

.upcoming-chess-white-space{
    background-color: #f1f2f6;
}

.upcoming-chess-white-space .container{
    padding-bottom: 10px;
} 

.upcoming-chess-grid-list-wrap .owl-carousel .owl-item  .item-media{
    height: 350px;
    border-radius: 15px;
}
.upcoming-chess-grid-list-wrap .owl-carousel .owl-item  .item-media img{    
    height: 100%;
    object-fit: cover;
}

.affix{
    background-color: #031221;
}

.affix::before{
    opacity: 1 !important;
}

.Profile-wrap-section .profile-content{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.Profile-wrap-section  .profile-content .profile-user-area{
    background-color: #ffffff;
    width: 100%;
    display: flex;
    padding: 10px 25px;
    border-radius: 15px;
    margin-bottom: 45px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 17px 11px -12px rgba(0, 0, 0, 0.09);
    border: solid 1px #e7eaec;
    
}

.Profile-wrap-section  .profile-content .profile-user-area .img-wrap{
    width: 150px;
}

.Profile-wrap-section  .profile-content .profile-user-area .post-edit-link{
    display: flex;
    justify-content: center;
    color: #000;
    background-color: #dfc305;
    min-width: 110px;
}

.Profile-wrap-section  .profile-content .profile-user-area .post-edit-link:before{
    content: "\f044";
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 600;
    padding-right: 0.4em;
}

.Profile-wrap-section  .profile-content .profile-user-area .post-edit-link:hover{
    background-color: #fff;
}

.Profile-wrap-section  .profile-content .profile-user-details{
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 17px 11px -12px rgba(0, 0, 0, 0.09);
    border: solid 1px #e7eaec;
    border-radius: 15px;
    margin-bottom: 45px;
    padding: 25px;
    
}

.Profile-wrap-section .entry-header{
    margin-bottom: 60px;
    position: relative;
}

.Profile-wrap-section .entry-header:after{
    position: absolute;
    height: 6px;
    width: 50px;
    background-color: #e7c900;
    content: "";
    bottom: -20px;
    left: 0;
    border-radius: 5px;
}

.Profile-wrap-section  .profile-content .edit-account .edit-account-inner{
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 17px 11px -12px rgba(0, 0, 0, 0.09);
    border: solid 1px #e7eaec;
    border-radius: 15px;
    margin-bottom: 45px;
    padding: 55px 35px;
    
}

.Profile-wrap-section  .profile-content .edit-account {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
}

.Profile-wrap-section  .profile-content .edit-account .edit-account-inner input{
    border-radius: 5px !important;
    background-color: #fff !important;
    border: 1px solid #bfc9d4 !important;
}

.Profile-wrap-section  .profile-content .edit-account .edit-account-inner select{
    border-radius: 5px !important;
    background-color: #fff !important;
    border: 1px solid #bfc9d4 !important;
    height: 50px;
    background-position: 91% 50%;
}

.profile-edit-submit{
    color: #000;
    background-color: #dfc305;
}

.Profile-wrap-section  .profile-content .edit-account .edit-account-inner .text-left{
    text-align: left;
}

.profile-back{
    display: flex;
    justify-content: center;
    color: #000;
    background-color: #dfc305;
    align-items: center;
    width: 90px;
    height: 55px;
    white-space: unset;
}

.player-wrap .entry-header{
    margin-bottom: 60px;
    position: relative;
}

.player-wrap .entry-header:after{
    position: absolute;
    height: 6px;
    width: 50px;
    background-color: #e7c900;
    content: "";
    bottom: -20px;
    left: 0;
    border-radius: 5px;
}

.player-wrap .player-content{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.player-wrap .player-content .edit-account {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
}

.player-wrap .player-content .edit-account .edit-account-inner {
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 17px 11px -12px rgba(0, 0, 0, 0.09);
    border: solid 1px #e7eaec;
        border-bottom-color: rgb(231, 234, 236);
        border-bottom-style: solid;
        border-bottom-width: 1px;
    border-radius: 15px;
    margin-bottom: 45px;
    padding: 55px 35px;
    
}

.player-wrap .player-content .edit-account .edit-account-inner input {
    border-radius: 5px !important;
    background-color: #fff !important;
    border: 1px solid #bfc9d4 !important;
}

.player-gender-wrap label{
    margin-right: 15px;
}

.profile-id a{
    font-weight: 500;
}

.profile-user-area .row{
    width: 100%;
}

.profile-user-area .row .profile-edit-back{
    display: flex;
    justify-content: end;
    align-items: center;
}

/* My wallet */

.my-wallet-wrap .entry-header{
    margin-bottom: 60px;
    position: relative;
    margin-top: 25px;
}

.my-wallet-wrap .entry-header:after{
    position: absolute;
    height: 6px;
    width: 50px;
    background-color: #e7c900;
    content: "";
    bottom: -20px;
    left: 0;
    border-radius: 5px;
}


.my-wallet-balance{
    background-color: #051422;
    width: 100%;
    display: flex;
    padding: 45px 90px !important;
    border-radius: 15px !important;
    margin-bottom: 45px;
    box-shadow: 0 17px 11px -12px rgba(0, 0, 0, 0.09);
    border: solid 1px #e7eaec;
    display: block;
    position: relative;
    overflow: hidden;
    height: 300px;
}

.my-wallet-balance img{
    position: absolute;
    right: -20px;
    width: 180px;
    height: auto;
    opacity: 0.1;
    top: -40px;
}

.my-wallet-balance h3{
    width: 100%;
    color: #e7c900;
    margin: 25px 0; 
}

.my-wallet-balance h6{
    width: 100%;
    color: #fff;
    margin: 10px 0; 
    font-weight: 400;
}

.my-wallet-balance #add_wallet_money{
    background: #fff;
    border-color: #fff;
    margin-top: 15px;
}

.my-wallet-bank-details{
    background-color: #ffffff;
    width: 100%;
    display: flex;
    padding:45px 40px !important;
    border-radius: 15px;
    margin-bottom: 45px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 17px 11px -12px rgba(0, 0, 0, 0.09);
    border: solid 1px #e7eaec;
    position: relative;
    overflow: hidden;
    height: 300px;
}

.my-wallet-bank-details img{
    position: absolute;
    right: 27px;
    width: 110px;
    height: auto;
    opacity: 0.1;
    bottom: 25px;
}

.my-wallet-bank-details form p{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.my-wallet-bank-details form p:last-child{
    margin-bottom: 0;
}

.my-wallet-bank-details address{
    margin: 0;
} 

.my-wallet-bank-details #bank_info_btn{
    position: absolute;
    top: 30px;
    right: 35px;
}

.wallet-transfer-money{
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 17px 11px -12px rgba(0, 0, 0, 0.09);
    border: solid 1px #e7eaec;
    border-radius: 15px;
    margin-bottom: 45px;
    padding: 25px;
}

.wallet-trasfer-wrap{ 
    display: flex;
}

.wallet-trasfer-wrap input{
    border-radius: 5px !important;
    background-color: #fff !important;
    border: 1px solid #bfc9d4 !important;
} 

.wallet-withdraw-money{
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 17px 11px -12px rgba(0, 0, 0, 0.09);
    border: solid 1px #e7eaec;
    border-radius: 15px;
    margin-bottom: 45px;
    padding: 25px;
}

.wallet-withdraw-money .wallet-withdraw-money-title{
    margin-bottom: 60px !important;
    position: relative;
    margin-top:35px !important;
}

.wallet-withdraw-money .wallet-withdraw-money-title:after{
    position: absolute;
    height: 6px;
    width: 50px;
    background-color: #e7c900;
    content: "";
    bottom: -20px;
    left: 30px;
    border-radius: 5px;
}

.wallet-transfer-money-title{
    margin-bottom: 60px !important;
    position: relative;
    margin-top:35px !important;
}

.wallet-transfer-money-title:after{
    position: absolute;
    height: 6px;
    width: 50px;
    background-color: #e7c900;
    content: "";
    bottom: -20px;
    left: 30px;
    border-radius: 5px;
}

.wallet-withdraw-wrap input{
    border-radius: 5px !important;
    background-color: #fff !important;
    border: 1px solid #bfc9d4 !important;
    margin-bottom: 15px;
} 

.wallet-recent-deposit-table{
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 17px 11px -12px rgba(0, 0, 0, 0.09);
    border: solid 1px #e7eaec;
    border-radius: 15px;
    margin-bottom: 45px;
    padding: 25px;
}


.recent-deposite-title{
    margin-bottom: 60px !important;
    position: relative;
}

.recent-deposite-title:after{
    position: absolute;
    height: 6px;
    width: 50px;
    background-color: #e7c900;
    content: "";
    bottom: -20px;
    left: 0;
    border-radius: 5px;
}

.profile-gender-wrap{
    margin-bottom: 15px;
}

.profile-gender-wrap label {
    margin-right: 15px;
}

.transaction-history-wrap .transaction-history-title{
    margin-bottom: 60px;
    position: relative;
    margin-top: 25px;
}

.transaction-history-wrap .transaction-history-title::after {

    position: absolute;
    height: 6px;
    width: 50px;
    background-color: #e7c900;
    content: "";
    bottom: -20px;
    left: 0;
    border-radius: 5px;

}

.transaction-history-table{
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 17px 11px -12px rgba(0, 0, 0, 0.09);
    border: solid 1px #e7eaec;
    border-radius: 15px;
    margin-bottom: 45px;
    padding: 55px 35px;
}

.transaction-history-wrap .my-wallet-balance{
    height: auto;
}

.tournment-upcoming-wrapper .tournment-upcoming-title{
    margin-bottom: 60px;
    position: relative;
    margin-top: 25px;
}

.tournment-upcoming-wrapper .tournment-upcoming-title::after {

    position: absolute;
    height: 6px;
    width: 50px;
    background-color: #e7c900;
    content: "";
    bottom: -20px;
    left: 0;
    border-radius: 5px;

}

.tournment-upcoming-wrapper .tournment-upcoming-grid-inner {
    margin-bottom: 55px;
}
.tournment-upcoming-wrapper .tournment-upcoming-grid-inner .item-media{
    height: 350px;
    border-radius: 15px;
}

.tournment-upcoming-wrapper .tournment-upcoming-grid-inner .item-content{
    /* box-shadow: 0 17px 11px -12px rgba(0, 0, 0, 0.09); */
    /* background-color: #051422 !important; */
    background-color: #ffffff;
    border-radius: 20px !important;
    width: 90%;
    margin: -105px auto 0;
    z-index: 9;
    position: relative;
    min-height: 375px;
    transition: all 0.3s ease;
    padding: 55px 50px;
    text-align: center;
    box-shadow: 0 17px 11px -12px rgba(0, 0, 0, 0.09);
    border: solid 1px #e7eaec;
}

.tournment-upcoming-wrapper .tournment-upcoming-grid-inner:hover .item-content {
    transform: translateY(-25px);
}

.tournment-upcoming-wrapper .tournment-upcoming-grid-inner .item-content h6 a {
    color: #e7c900;
}

.tournment-upcoming-wrapper .tournment-upcoming-grid-inner .item-content  p {
    color: #051422;
}

.tournment-upcoming-wrapper .tournment-upcoming-grid-inner .item-content  .item-footer {
    flex-direction: column;
    margin-top: 15px;
}

.tournment-upcoming-wrapper .tournment-upcoming-grid-inner .item-content  .item-footer span.price {
    color: #e7c900;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    opacity: 1;
}

.tournment-upcoming-wrapper .tournment-upcoming-grid-inner .item-content  .item-footer .btn-upcoming-readmore{
    border: solid 1px #e7c900;
    background-color: #e7c900;
    margin-top: 15px;
    color: #051422;
}

.tournment-upcoming-wrapper .tournment-upcoming-grid-inner .item-content  .item-footer .btn-upcoming-readmore:hover {
    background-color: transparent;
}



.tournment-create-new-wrap .tournment-create-new-title{
    margin-bottom: 60px;
    position: relative;
    margin-top: 25px;
}

.tournment-create-new-wrap .tournment-create-new-title::after {

    position: absolute;
    height: 6px;
    width: 50px;
    background-color: #e7c900;
    content: "";
    bottom: -20px;
    left: 0;
    border-radius: 5px;

}

.tournment-create-new-wrap  .tournment-create-new-inner{
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 17px 11px -12px rgba(0, 0, 0, 0.09);
    border: solid 1px #e7eaec;
    border-radius: 15px;
    margin-bottom: 45px;
    padding: 25px;  
}

.tournment-create-new-wrap  .tournment-create-new-inner input{
    border-radius: 5px !important;
    background-color: #fff !important;
    border: 1px solid #bfc9d4 !important;
}

.tournment-create-new-wrap  .tournment-create-new-inner textarea, .tournment-create-new-wrap  .tournment-create-new-inner select{
    border-radius: 5px !important;
    background-color: #fff !important;
    border: 1px solid #bfc9d4 !important;
}

.tournment-created-by-me-wrap .tournment-created-by-me-title{
    margin-bottom: 60px;
    position: relative;
    margin-top: 25px;
}

.tournment-created-by-me-wrap .tournment-created-by-me-title::after {

    position: absolute;
    height: 6px;
    width: 50px;
    background-color: #e7c900;
    content: "";
    bottom: -20px;
    left: 0;
    border-radius: 5px;

}

.tournment-created-by-me-wrap .tournment-created-by-me-table{
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 17px 11px -12px rgba(0, 0, 0, 0.09);
    border: solid 1px #e7eaec;
    border-radius: 15px;
    margin-bottom: 45px;
    padding: 25px;  
}


.tournment-upcoming-view-wrapper .tournment-upcoming-view-title{
    margin-bottom: 60px;
    position: relative;
    margin-top: 25px;
}

.tournment-upcoming-view-wrapper .tournment-upcoming-view-title::after {

    position: absolute;
    height: 6px;
    width: 50px;
    background-color: #e7c900;
    content: "";
    bottom: -20px;
    left: 0;
    border-radius: 5px;
}

.tournment-upcoming-view-wrapper .tournment-title-price{
    background-color: #051422;
    width: 100%;
    display: flex;
    padding: 45px 90px 45px 165px!important;
    border-radius: 15px !important;
    margin-bottom: 45px;
    box-shadow: 0 17px 11px -12px rgba(0, 0, 0, 0.09);
    border: solid 1px #e7eaec;
    display: block;
    position: relative;
    overflow: hidden;
}

.tournment-upcoming-view-wrapper .tournment-title-price p{
    margin-bottom: 0;
    color: #fff;
}

.tournment-upcoming-view-wrapper .tournment-title-price h4{
    margin-top: 10px;
    color: #e7c900;
}

.tournment-upcoming-view-wrapper .tournment-title-price img {
    position: absolute;
    left: 63px;
    width: 84px;
    height: auto;
    top: 50%;
    transform: rotate(-30deg) translateY(-50%);
}

.tournment-upcoming-view-pdf-img{
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 17px 11px -12px rgba(0, 0, 0, 0.09);
    border: solid 1px #e7eaec;
    border-radius: 15px;
    margin-bottom: 45px;
    padding: 55px 35px;
    display: inline-block;
}

.tournment-upcoming-view-pdf-img select{
    border-radius: 5px !important;
    background-color: #fff !important;
    border: 1px solid #bfc9d4 !important;
    margin-left: 15px;
}

.tournment-upcoming-view-pdf-img .images .flex-viewport{
    border-radius: 15px;
}

.tournment-upcoming-view-pdf-img .images .flex-control-nav{
    margin-top: 15px;
    display: flex;
}

.tournment-upcoming-view-pdf-img .images .flex-control-nav li{
    flex: 1;
    padding: 0px 15px;
}

.tournment-upcoming-view-pdf-img .summary {
    background-color: #e9edf3;
    border-radius: 15px;
    padding: 25px 55px;
    border: solid 1px #dddedf;
} 

.tournment-upcoming-view-pdf-img .summary  p.h6{
    color: #071625;
    text-transform: uppercase;
    position: relative;
    padding-left: 15px;
}

.tournment-upcoming-view-pdf-img .summary  p.h6::before{
    position: absolute;
    width: 20px;
    height: 5px;
    content: "";
    background-color: #e7c900;
    left: -25px;
    border-radius: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.tournment-upcoming-view-pdf-img .summary  p.h4{
    color: #9b8700;
    font-size: 20px;
    font-weight: 300;
    padding-left: 15px;
}

.tournment-upcoming-view-pdf-img .summary #btn_register{
    background-color: #e7c900;
    border-color: #e7c900;
    margin-left: 15px;
}

.tournment-upcoming-view-pdf-img .summary #btn_register:hover{
    background-color: transparent;
}


.created-by-me-view-wrap .created-by-me-view-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.created-by-me-view-wrap .created-by-me-view-title h5{
    margin-bottom: 60px;
    position: relative;
    margin-top: 25px;
}

.created-by-me-view-wrap .created-by-me-view-title h5::after {

    position: absolute;
    height: 6px;
    width: 50px;
    background-color: #e7c900;
    content: "";
    bottom: -20px;
    left: 0;
    border-radius: 5px;
}


.cbme-registered-player{
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 17px 11px -12px rgba(0, 0, 0, 0.09);
    border: solid 1px #e7eaec;
    border-radius: 15px;
    margin-bottom: 45px;
    padding: 55px 35px;
}

.cbme-registered-player-titles{
    display: flex;
flex-wrap: wrap;
}

.cbme-registered-player-titles .entry-title{     
    font-weight: 400;
    font-size: 20px;
    background: #e9edf3;
    margin-right: 37px;
    padding: 15px 0 15px 45px;
    color: #6c757d;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.cbme-registered-player-titles .entry-title:before{ 
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #fff;
    content: "";
    top: 10px;
    left: 10px;
    border-radius: 50px;
    box-shadow: inset 0 3px 1px 0 rgba(102, 102, 255, 0.3) !important;
}

/* .cbme-registered-player-titles .entry-title:after{ 
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #fff;
    content: "";
    top: 10px;
    right: 10px;
    border-radius: 50px;
    box-shadow: inset 0 3px 1px 0 rgba(102, 102, 255, 0.3) !important;
} */

.entry-title-heading{
    width: 100%;
    font-weight: 400;
    margin-bottom: 39px;
    font-size: 25px;
}

.cbme-registered-player-titles .entry-title span{
    background: #e7c900;
    padding: 25px;
    margin-left: 15px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

.created-by-me-view-wrap .cbme-registered-player .btn{
    background-color: #051422;
    border: 2px solid #051422;
    margin-top: 20px;
}

.created-by-me-view-wrap .cbme-registered-player .btn:hover{
    background-color: transparent;
    color: #051422;
}

.created-by-me-view-wrap .created-by-me-view-title .btn-new-tournment{
    background-color: #e7c900;
    border: 2px solid #e7c900;
    border-radius: 5em;
    color: #1f232b;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    min-width: 170px;
    padding: 15px 35px;
    text-align: center;
    text-transform: capitalize;
}
.created-by-me-view-wrap .created-by-me-view-title .btn-new-tournment:hover{
    background-color: transparent;
}

.cbme-player-list .refund-request{
    background-color: transparent !important;
    color: #dc3545;
    border-color: transparent !important;
    font-weight: 500;
    font-size: 18px;
}

.cbme-player-list .refund-btn{
    background-color: #e7c900 !important;
    border: 2px solid #e7c900 !important;
    border-radius: 5em;
    color: #1f232b;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    min-width: 170px;
    padding: 15px 35px;
    text-align: center;
    text-transform: capitalize;
}

.cbme-player-list .refund-btn:hover{
    background-color: transparent !important;
}



.player-list-wrap  .tournment-upcoming-title{
    margin-bottom: 60px;
    position: relative;
    margin-top: 25px;
}

.player-list-wrap  .tournment-upcoming-title::after {

    position: absolute;
    height: 6px;
    width: 50px;
    background-color: #e7c900;
    content: "";
    bottom: -20px;
    left: 0;
    border-radius: 5px;

}

.player-list-wrap-inner{
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 17px 11px -12px rgba(0, 0, 0, 0.09);
    border: solid 1px #e7eaec;
    border-radius: 15px;
    margin-bottom: 45px;
    padding: 55px 35px;
}

.player-list-wrap .player-list-item{
    background-color: #031221;
    padding: 25px;
    border-radius: 15px;
    padding-top: 0;
    margin-bottom: 25px;
}
.player-list-wrap .player-list-item .date{
    color: #fff;
    background: rgba(225, 225, 225, 0.1);
    padding: 10px 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 400;
    font-size: 20px;
}

.player-list-wrap .player-list-item h5{
    margin: 15px 0 0;
    color: #e7c900;
    font-size: 25px;
}

/* Tab styling */
.tournment-tab-wrap .nav-tabs {
    display:none;
}



/* Responsive Styling */
@media (max-width: 1199px){

}

@media (max-width: 1024px){
    
}

@media (max-width: 991px){
    .register-wrap .align-items-center{
        display: flex;
        flex-direction: column;
    }

    .register-wrap .align-items-center > .col-md-6.special-title{
            top: 0;
            margin-bottom: 25px;
    }
    .register-wrap .align-items-center > .col-md-6{
        width: 100%;
        max-width: 100%;
    }

    .register-wrap .align-items-center > .col-md-6 .register-form-wrap{
        width: 480px;
    }

    .Profile-wrap-section{
        padding-top: 95px;
    }
    .Profile-wrap-section .profile-content{
        width: 100%;
    }

    .container{
        padding-top: 150px;
    }

    .tournment-width{
        max-width: unset;
        flex: unset;
        width: 50%;
    }

    .upcoming-view-img-slider-wrap{
        display: flex;
        flex-direction: column;
    }

    .upcoming-view-img-slider-wrap .images{
        width: 100%;
    }

    .upcoming-view-img-slider-wrap .summary {
        width: 100%;
    }

    .col-resp{
        width: 100%;
        max-width: 100%;
        flex: unset;
    }
}


@media(min-width:768px) {

    /* Tab style */
    .tournment-tab-wrap .nav-tabs {
        display: flex;
    }
    
    .tournment-tab-wrap .card {
        border: none;
    }

    .tournment-tab-wrap .card .card-header {
        display:none;
    }  

    .tournment-tab-wrap .card .collapse{
        display:block;
    }

    .tournment-tab-wrap  .card-body{
        padding: 0;
    }
}

@media (max-width: 767px){
    .login-wrap .container .entry-content{
        max-width: 85%;
    }

    .register-wrap .align-items-center > .col-md-6 .register-form-wrap{
        max-width: 85%;
    }

    .register-wrap .align-items-center > .col-md-6.special-title{
        text-align: center;
    }

    .tournment-width{
        max-width: unset;
        flex: unset;
        width: 100%;
    }

    .cbme-registered-player input[type="submit"]{
        margin: 15px 0;
    }

    .cbme-registered-player-titles .entry-title{
        height: 168px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 25px;
        width: 100%;
        padding-top: 35px;
    }

    .cbme-registered-player-titles .entry-title span{
        width: 100%;
        height: 72px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        margin-left: 0;
    }

    /* Tab style */

    .tournment-tab-wrap .tab-content > .tab-pane {
        display: block !important;
        opacity: 1;
    }

    .tournment-tab-wrap .tab-content{
        padding: 0;
        border: none;
    }

    .card-header h5{
        background-color: #eee;
    }

    .card-header h5 a{
        padding-left: 20px !important;
    }

    .card-header h5 a:before{
        display: none !important;
    }

    .card-header h5 a:after{
        background-color: transparent !important;
    }


    .tournment-tab-wrap .tab-content > .tab-pane .card-header h5{
        background-color: #eee;
    }

    .tournment-tab-wrap .tab-content > .tab-pane.card.active  .card-header h5{
        background-color: #dfc305;
    }

    .tournment-tab-wrap .tab-content > .tab-pane .card-body{
        padding: 20px 0;
    }

    .c-gutter-60 [class*="col-"], .row.c-gutter-60 > [class*="col-"]{
        padding-left: 15px;
        padding-right: 15px;
    }

    .tournment-tab-wrap .tab-content > .tab-pane .card-body button{
        width: 100%;
    }

    .tournment-tab-wrap .tab-content > .tab-pane #collapse-D .card-body{
        padding-left: 10px;
        padding-right: 10px;
    } 

    .tournment-tab-wrap .tab-content > .tab-pane #collapse-D .card-body #entry_fees_category_div .input-group input{
        width: 100%;
        margin-bottom: 15px;
    }

    
}

@media (max-width: 614px){
    .register-wrap .align-items-center > .col-md-6:not(.special-title){
        display: flex;
        justify-content: center;
    }

    .register-wrap .align-items-center > .col-md-6:not(.special-title) .register-form-wrap .form-title{
        position: relative;
    }

    .register-wrap .align-items-center > .col-md-6:not(.special-title) .register-form-wrap .form-title .register-free-icon{
        left: 15px;
    }

    .registration-genter .col-sm-4{
        display: flex;
        margin-bottom: 10px !important;
    }

    .player-wrap .player-content{
        width: 100%;
    }
}

@media (max-width: 575px){
    .Profile-wrap-section {
        padding-top: 0;
    }

    .Profile-wrap-section .container{
        padding-left: 25px;
        padding-right: 25px;
    }

    .container {
        padding-top: 45px !important;
    }

    .created-by-me-view-wrap .created-by-me-view-title{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 25px;
    }

    .tournment-create-new-wrap > .container > .row{
        padding-left: 30px;
        padding-right: 30px;
    }

    .tournment-tab-wrap .tab-content > .tab-pane #collapse-D .row .col{
        flex: unset;
    }
}

@media (max-width: 540px){
    .login-wrap .container .entry-content form p input.button{
        margin-bottom: 15px;
        width: 100%;
    }

    .login-wrap .container .entry-content form p a.btn{
        width: 100%;
    }

    .login-wrap .container .entry-content form p{
        margin-bottom: 10px;
    }

    .login-wrap .container .entry-content form{
        padding-bottom: 45px;
    }

    .register-wrap .register-form-wrap form input.login-btn{
        width: 100%;
    } 

    .register-wrap .register-form-wrap form a.btn{
        width: 100%;
        margin-bottom: 25px;
    } 

    .register-free-icon{
        position: relative;
        left: 0;    
    }
    .register-wrap .register-title{
        margin-top: 0;
    }

    .page_slider .flexslider .container{
        margin-top: 25px;
    }

    .page_slider [class*="row"]{
        height: auto;
    }
    
    .my-wallet-balance{
        padding: 45px 40px !important;
        height: auto;
        margin-bottom: 0;
    }

    .wallet-transfer-money{
        margin-bottom: 0;
    }

    .wallet-withdraw-money{
        margin-bottom: 0;
    }

    .my-wallet-wrap .entry-header{
        margin-bottom: 5px;
    }

    .my-wallet-bank-details #bank_info_btn{
        position: relative;
        top: auto;
        right: auto;
        margin-top: 25px;
    }

    .my-wallet-bank-details{
        flex-direction: column;
        align-items: flex-start;
    }
    .my-wallet-bank-details{
        height: auto;
        margin-bottom: 0;
    }

    .my-wallet-bank-details img{
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }

    .recent-deposite-title{
        margin-top: 0 !important;
    }
    .transaction-history-wrap .my-wallet-balance{
        margin-bottom: 45px;
    }
}

@media (max-width: 480px){

    .Profile-wrap-section .profile-content .profile-user-details table tbody tr{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .Profile-wrap-section .profile-content .profile-user-details table tbody{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .Profile-wrap-section .profile-content .profile-user-details table tbody tr th{
        border: none; 
    }

    .Profile-wrap-section .profile-content .profile-user-details table tbody tr td{
        padding: 5px 0px;
        border: none;
    }

    .Profile-wrap-section .profile-content .profile-user-area{
        flex-direction: column;
    }

    .Profile-wrap-section .profile-content .profile-user-area .post-edit-link{
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .profile-gender-wrap{
        display: flex;
        flex-direction: column;
    }

    .profile-gender-wrap label{
        margin-bottom: 15px !important;
    }

    .upcoming-view-img-slider-wrap{
        padding: 25px 15px
    }

    .upcoming-view-img-slider-wrap .summary{
        padding: 25px 15px
    }

    .tournment-upcoming-view-pdf-img .summary p.h6::before{
        display: none;
    }

    .tournment-upcoming-view-pdf-img select{
        margin: 0;
    }


    .tournment-upcoming-view-wrapper .tournment-title-price img{
        top: 10px;
        transform: translate(0) rotate(-30deg);
        left: 15px;
        width: 40px;
    }

    .tournment-upcoming-view-wrapper .tournment-title-price{
        padding: 25px 25px 25px 75px !important;
    }


}

@media (max-width: 320px){
    
}

/* Media height */
@media (max-height: 920px){
    .register-wrap {
        height: unset;
        padding: 45px 0;
    }
}